@font-face {
    font-family: 'Glacial Indifference';
    src: url('glacial-indifference/GlacialIndifference-Regular.otf');
}


body {
    background-color: rgb(229, 229, 229);
    font-family: 'Glacial Indifference';
    margin: 0;
    padding: 0;
}

/* header styling */

h1 {
    text-align: left;
    color: white;
    font-size:45px;
    padding: 0 0 10px 110px;
    
}

#header {
    height: 100%;
    background-color: #737373;
    padding-top: 20px;
    width: 100%;  
}

.logo img{
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/* tagline section styling */
#intro {
    text-align: center;
    /* padding-bottom: 1000px; */
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}



/* table styling */
table {
    text-align: center;
    width: 95%;
}

#table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 4px;
    /* border-radius alone didnt work, added this to tell browser to hide content beyonf the rounded corners */
    overflow: hidden;
}

#table td, #table th {
    padding: 8px;
}

#table tr:nth-child(even){
    background-color: #f2f2f2;
}

#table tr:nth-child(odd){
    background-color: #e1e1e1;
}


#table tr:hover {
    background-color: #d0cece;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8c8a8a;
    color: white;   
}

/* placing form and table next to each other */
#table-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* form styling */
#form-section {
    /* background-color: rgb(247, 247, 247); */
    width: 40%;
    float:left;
    text-align: center;
    border-radius: 2px;
    padding:20px;
    background-color: white;
}



#form-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#form-section li {
    display: block;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

#form-section li > label {
    display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
}

#form-section li > span {
    background-color: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-size: 11px; 
}

#form-section input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    font-size: 15px;
    padding: 0;
}

#form-section input:focus {
}

/* delete button styling */
button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 7px;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px transparent;
    letter-spacing: 1px;
    min-width: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 6px 8px 12px 8px;
    height: 0;
    background-color: #cecfd1;
}

button:hover {
    color: #fff;
    background-color: #616467;
}

/* results section */
#results{
    background-color: #891515;
    padding: 20px 0 20px 20px;
    width: 40%;
}

